*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-container,
.main {

}
/* DEBUG */





/* /DEBUG */


/* HEADER */

header {
    display: flex;
    height: 80px;
    background-color: #ff6900;
    align-items: center;
    justify-content: center;
}

.header-container {
  width: 90%;
  max-width: 1600px;
  display: flex;
}

.header-menu,
.header-icons {
  width: 25%;
  display: flex;
}

.header-logo {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-logo img {
  height: 35px;
}

.header-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding-right: 10px;
}

.header-icons {
  justify-content: flex-end;
  align-items: center;
}

.header-icons a {
  padding-left: 10px;
  color: white;
  font-size: 1.1rem;
}

/* MAIN */


main {
  margin: 65px auto;
  width: 90%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-container {
  width: 32.5%;
  min-width: 300px ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.img-card {
  position: relative;
}

.img-card img {
  width: 100%;
}

.discount {
  position: absolute;
  left: 0px;
  bottom: 40px;
}
.ecological {
  position: absolute;
  left: 62px;
  bottom: 40px;
}

.heart {
  position: absolute;
  right: 0px;
  top: 15px;
}






/* styles */

.price {
  font-weight: bold;
  color: red;
}

.ex-price {
  text-decoration: line-through;
}

.discount {
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.ecological {
  padding: 5px 10px;
  background-color: green;
  color: white;
  font-weight: bold;
}

.heart {
  background-color: white;
  padding: 5px 15px;
  font-size: 2.5rem;
}